In [1]:
import json
import pandas as pd

In [2]:
path_file = 'COMPSCI762_2022S1_TutorialEngagement - Sheet1.csv'
with open(path_file, 'r') as f:
  lines = f.readlines()
  print(lines[1:])

['3,Mon,mkan849,,,,,,,,,,,,,,,,\n', '3,Tue,ikop695,jzha975,fbab920,jliu243,jwan553,ache934,,,,,,,,,,,\n', '3,Thu,xli638,agho149,skwe902,lfu313,yhu311,crob873,gkar828,,,,,,,,,,\n', '3,Fri,jji887,ych872,sjeb067,,,,,,,,,,,,,,\n', '4,Tue,yche993,fbab920,hko828,jliu243,nloh108,aguo201,dche610,kmat038,jzhu255,qli914,sliu482,,,,,,\n', '4,Thu,sten187,gkar828,iong692,agho149,kfur006,yyu482,lfu313,sbim777,ldao475,ylu306,,,,,,,\n', '4,Fri,qhe497,hye873,txia202,cpuk542,swan387,yzhe906,,,,,,,,,,,\n', '5,Mon,yche993,,,,,,,,,,,,,,,,\n', '5,Tue,jliu243,hko828,nli763,ikop695,nlum005,xsha028,xyan289,blin207,jwan553,,,,,,,,\n', '5,Thu,sten187,ldao475,lfu313,json007,xzha593,,,,,,,,,,,,\n', '5,Fri,adha594,ngoe369,xzhu662,xli444,hye873,ptan499,ych872,dma312,,,,,,,,,\n', '6,Tue,xyan289,,,,,,,,,,,,,,,,\n', '6,Thu,agho149,sten187,kfur006,hfen962,,,,,,,,,,,,,\n', '6,Fri,zche376,swan387,ngoe369,ptan499,lzen402,tip421,sjeb067,slei065,ngoe369,mli779,dma312,,,,,,\n', '7,Tue,jliu243,kmat038,ikop695,dche610,,,,,,,,,,,,,\n', '7,Thu,tip421,hsco139,xzha593,ylee942,,,,,,,,,,,,,\n', '8,Tue,nloh108,nli763,xren451,jzha975,,,,,,,,,,,,,\n', '8,Thu,wshi995,ldao475,agho149,yhu311,xzha593,xli295,hzha564,,,,,,,,,,\n', '8,Fri,jzhu255,rlei932,yil125,cpuk542,,,,,,,,,,,,,\n', '9,Tue,qli914,xsha028,xyan289,blin207,jxu384,zzha415,jzha975,,,,,,,,,,\n', '9,Fri,hsco139,wche650,aguo201,jzhu986,zche376,ynie053,hzha564,jwu807,xyan859,jche526,,,,,,,\n', '10,Thu,tli611,cli776,ylu306,jxu384,yhu311,arey017,mzhu843,swou555,wlau390,mwon892,wshi995,xli638,crob873,hfen962,nsun209,yyu482,xyan859\n', '10,Fri,yzhe906,yyan365,zzha415,sjeb067,jwu807,slei065,wany268,yren424,jzhu986,yil125,wche650,jji887,jche526,xzhu662,,,\n', '11,Thu,json007,qhe497,xli638,ache706,ylee942,cli776,swou555,jxu384,iong692,wche650,nsun209,yren424,mwon892,tli611,yhu311,arey017,\n', '12,Tue,ache934,txia202,yyan365,Nlum005,,,,,,,,,,,,,\n', '13,Thu,mzhu843,zpan184,nlum005,nlum005,xcui868,zpan184,ache706,wche650,nloh108,,,,,,,,\n']

In [3]:
def update_scores(name: str, scores: set) -> None:
  if name in scores:
    if scores[name] < 2:
      scores[name] += 1
  else:
    scores[name] = 1

In [4]:
scores = {}
for line in lines:
  names = line.split(',')
  names = names[2:-1]
  names = [i for i in names if i]
  for name in names:
    update_scores(name, scores)

print(scores)

{'mkan849': 1, 'ikop695': 2, 'jzha975': 2, 'fbab920': 2, 'jliu243': 2, 'jwan553': 2, 'ache934': 2, 'xli638': 2, 'agho149': 2, 'skwe902': 1, 'lfu313': 2, 'yhu311': 2, 'crob873': 2, 'gkar828': 2, 'jji887': 2, 'ych872': 2, 'sjeb067': 2, 'yche993': 2, 'hko828': 2, 'nloh108': 2, 'aguo201': 2, 'dche610': 2, 'kmat038': 2, 'jzhu255': 2, 'qli914': 2, 'sliu482': 1, 'sten187': 2, 'iong692': 2, 'kfur006': 2, 'yyu482': 2, 'sbim777': 1, 'ldao475': 2, 'ylu306': 2, 'qhe497': 2, 'hye873': 2, 'txia202': 2, 'cpuk542': 2, 'swan387': 2, 'yzhe906': 2, 'nli763': 2, 'nlum005': 2, 'xsha028': 2, 'xyan289': 2, 'blin207': 2, 'json007': 2, 'xzha593': 2, 'adha594': 1, 'ngoe369': 2, 'xzhu662': 2, 'xli444': 1, 'ptan499': 2, 'dma312': 2, 'hfen962': 2, 'zche376': 2, 'lzen402': 1, 'tip421': 2, 'slei065': 2, 'mli779': 1, 'hsco139': 2, 'ylee942': 2, 'xren451': 1, 'wshi995': 2, 'xli295': 1, 'hzha564': 2, 'rlei932': 1, 'yil125': 2, 'jxu384': 2, 'zzha415': 2, 'wche650': 2, 'jzhu986': 2, 'ynie053': 1, 'jwu807': 2, 'xyan859': 1, 'jche526': 2, 'tli611': 2, 'cli776': 2, 'arey017': 2, 'mzhu843': 2, 'swou555': 2, 'wlau390': 1, 'mwon892': 2, 'nsun209': 2, 'yyan365': 2, 'wany268': 1, 'yren424': 2, 'ache706': 2, 'Nlum005': 1, 'zpan184': 2, 'xcui868': 1}

In [5]:
df = pd.DataFrame(list(scores.items()), columns=['UPI', 'Score'])
df['UPI'] = df['UPI'].str.lower()
df = df.set_index('UPI')
df

         Score
UPI
mkan849      1
ikop695      2
jzha975      2
fbab920      2
jliu243      2
...        ...
yren424      2
ache706      2
nlum005      1
zpan184      2
xcui868      1

[89 rows x 1 columns]

In [6]:
path_jsons = [f'package{i}.json' for i in range(1, 4)]
print(path_jsons)

people = []
for p in path_jsons:
  with open(p) as f:
    people = people + json.load(f)

print(len(people))
print(people[0])

['package1.json', 'package2.json', 'package3.json']
116
{'id': '350055', 'name': 'Ashish Agnihotri', 'created_at': '2021-08-12T20:32:10+12:00', 'sortable_name': 'Agnihotri, Ashish', 'short_name': 'Ashish Agnihotri', 'sis_user_id': '544893849', 'integration_id': None, 'login_id': 'aagn836', 'avatar_url': 'https://canvas.auckland.ac.nz/images/messages/avatar-50.png', 'enrollments': [{'id': '4631100', 'user_id': '350055', 'course_id': '72099', 'type': 'StudentEnrollment', 'created_at': '2022-02-10T02:41:47Z', 'updated_at': '2022-02-13T00:43:51Z', 'associated_user_id': None, 'start_at': None, 'end_at': None, 'course_section_id': '220186', 'root_account_id': '1', 'limit_privileges_to_course_section': False, 'enrollment_state': 'active', 'role': 'StudentEnrollment', 'role_id': '3', 'last_activity_at': '2022-06-03T11:40:56Z', 'last_attended_at': None, 'total_activity_time': 217338, 'grades': {'html_url': 'https://canvas.auckland.ac.nz/courses/72099/grades/350055', 'current_grade': 'B+', 'current_score': 78.33, 'final_grade': 'D-', 'final_score': 29.5, 'unposted_current_score': 78.48, 'unposted_current_grade': 'B+', 'unposted_final_score': 31.9, 'unposted_final_grade': 'D-'}, 'sis_account_id': 'COMSCI', 'sis_course_id': '1-047326-1223-1', 'course_integration_id': None, 'sis_section_id': '1223-1-1999', 'section_integration_id': None, 'sis_user_id': '544893849', 'html_url': 'https://canvas.auckland.ac.nz/courses/72099/users/350055', 'can_be_removed': False}], 'email': 'aagn836@aucklanduni.ac.nz', 'custom_links': [{'text': 'New Analytics', 'url': 'https://canvas.auckland.ac.nz/courses/72099/external_tools/8527?launch_type=student_context_card&student_id=350055', 'icon_class': 'icon-analytics', 'tool_id': 'fd75124a-140e-470f-944c-114d2d93bb40'}], 'analytics_url': '/courses/72099/analytics/users/350055'}

In [7]:
people_dict = {}
for person in people:
  upi = person['login_id']
  name = person['sortable_name']
  people_dict[upi] = name

In [8]:
names = [people_dict[i] for i in df.index]
df['name'] = names
df = df.sort_values(by=['name'])
df.head()

         Score               name
UPI
fbab920      2     Babasaki, Fuki
sbim777      1  Bimantara, Sastra
wche650      2           Che, Pam
ache934      2         Chen, Alex
dche610      2        Chen, Dylan

In [9]:
df.to_csv('student_scores.csv')