In [1]:
import os

import pandas as pd
import numpy as np

In [2]:
path_file = 'COMPSCI762_2022S1_TutorialEngagement - Sheet1.csv'
with open(path_file, 'r') as f:
  lines = f.readlines()
  print(lines[1:])

['3,Mon,mkan849,,,,,,,,,,,,,,,,\n', '3,Tue,ikop695,jzha975,fbab920,jliu243,jwan553,ache934,,,,,,,,,,,\n', '3,Thu,xli638,agho149,skwe902,lfu313,yhu311,crob873,gkar828,,,,,,,,,,\n', '3,Fri,jji887,ych872,sjeb067,,,,,,,,,,,,,,\n', '4,Tue,yche993,fbab920,hko828,jliu243,nloh108,aguo201,dche610,kmat038,jzhu255,qli914,sliu482,,,,,,\n', '4,Thu,sten187,gkar828,iong692,agho149,kfur006,yyu482,lfu313,sbim777,ldao475,ylu306,,,,,,,\n', '4,Fri,qhe497,hye873,txia202,cpuk542,swan387,yzhe906,,,,,,,,,,,\n', '5,Mon,yche993,,,,,,,,,,,,,,,,\n', '5,Tue,jliu243,hko828,nli783,ikop695,nlum005,xsha028,xyan289,blin207,jwan553,,,,,,,,\n', '5,Thu,sten187,lao475,lfu313,json007,xzha593,,,,,,,,,,,,\n', '5,Fri,adha594,ngoe369,xzhu662,xli444,hye873,ptan499,ych872,dma312,,,,,,,,,\n', '6,Tue,xyan289,,,,,,,,,,,,,,,,\n', '6,Thu,agho149,sten187,kfur006,hfen962,,,,,,,,,,,,,\n', '6,Fri,zche376,swan387,ngoel369,ptan499,lzen402,tip421,sjeb067,slei065,ngoe369,mli779,dma312,,,,,,\n', '7,Tue,jliu243,kmat038,ikop695,dche610,,,,,,,,,,,,,\n', '7,Thu,tip421,hsco139,xzha593,ylee942,,,,,,,,,,,,,\n', '8,Tue,nloh108,nli763,xren451,jzha975,,,,,,,,,,,,,\n', '8,Thu,wshi995,ldao475,agho149,yhu311,xzha593,xli295,hzha564,,,,,,,,,,\n', '8,Fri,jzhu255,rlei932,yil125,cpuk542,,,,,,,,,,,,,\n', '9,Tue,qli914,xsha028,xyan289,blin207,jxu384,zzha415,jzha975,,,,,,,,,,\n', '9,Fri,hsco139,wche650,aguo201,jzhu986,zche376,ynie053,hzha564,jwu807,xyan859,jche526,,,,,,,\n', '10,Thu,tli611,cli776,ylu306,jxu384,yhu311,arey017,mzhu843,swou555,wlau390,mwon892,wshi995,xli638,crob873,hfen962,nsun209,yyu482,xyan859\n', '10,Fri,yzhe906,yyan365,zzha415,sjeb067,jwu807,slei065,wany268,yren424,jzhu986,yil125,wche650,jji887,jche526,xzhu662,,,\n', '11,Thu,json007,qhe497,xli638,ache706,ylee942,cli776,swou555,jxu384,iong692,wche650,nsun209,yren424,mwon892,tli611,yhu311,arey017,\n', '12,Tue,ache934,txia202,yyan365,Nlum005,,,,,,,,,,,,,\n', '13,Thu,mzhu843,zpan184,nlum005,nlum005,xcui868,zpan184,ache706,wche650,nloh108,,,,,,,,']

In [3]:
def update_scores(name: str, scores: set) -> None:
  if name in scores:
    if scores[name] < 2:
      scores[name] += 1
  else:
    scores[name] = 1

In [4]:
scores = {}
for line in lines:
  names = line.split(',')
  names = names[2:-1]
  names = [i for i in names if i]
  for name in names:
    update_scores(name, scores)

print(scores)

{'mkan849': 1, 'ikop695': 2, 'jzha975': 2, 'fbab920': 2, 'jliu243': 2, 'jwan553': 2, 'ache934': 2, 'xli638': 2, 'agho149': 2, 'skwe902': 1, 'lfu313': 2, 'yhu311': 2, 'crob873': 2, 'gkar828': 2, 'jji887': 2, 'ych872': 2, 'sjeb067': 2, 'yche993': 2, 'hko828': 2, 'nloh108': 2, 'aguo201': 2, 'dche610': 2, 'kmat038': 2, 'jzhu255': 2, 'qli914': 2, 'sliu482': 1, 'sten187': 2, 'iong692': 2, 'kfur006': 2, 'yyu482': 2, 'sbim777': 1, 'ldao475': 2, 'ylu306': 2, 'qhe497': 2, 'hye873': 2, 'txia202': 2, 'cpuk542': 2, 'swan387': 2, 'yzhe906': 2, 'nli783': 1, 'nlum005': 2, 'xsha028': 2, 'xyan289': 2, 'blin207': 2, 'lao475': 1, 'json007': 2, 'xzha593': 2, 'adha594': 1, 'ngoe369': 2, 'xzhu662': 2, 'xli444': 1, 'ptan499': 2, 'dma312': 2, 'hfen962': 2, 'zche376': 2, 'ngoel369': 1, 'lzen402': 1, 'tip421': 2, 'slei065': 2, 'mli779': 1, 'hsco139': 2, 'ylee942': 2, 'nli763': 1, 'xren451': 1, 'wshi995': 2, 'xli295': 1, 'hzha564': 2, 'rlei932': 1, 'yil125': 2, 'jxu384': 2, 'zzha415': 2, 'wche650': 2, 'jzhu986': 2, 'ynie053': 1, 'jwu807': 2, 'xyan859': 1, 'jche526': 2, 'tli611': 2, 'cli776': 2, 'arey017': 2, 'mzhu843': 2, 'swou555': 2, 'wlau390': 1, 'mwon892': 2, 'nsun209': 2, 'yyan365': 2, 'wany268': 1, 'yren424': 2, 'ache706': 2, 'Nlum005': 1, 'zpan184': 2, 'xcui868': 1}

In [5]:
df = pd.DataFrame(list(scores.items()), columns=['UPI', 'Score'])
df['UPI'] = df['UPI'].str.lower()
df = df.sort_values(by=['UPI'])
df = df.set_index('UPI')
df

         Score
UPI
ache706      2
ache934      2
adha594      1
agho149      2
aguo201      2
...        ...
yyu482       2
yzhe906      2
zche376      2
zpan184      2
zzha415      2

[92 rows x 1 columns]

In [6]:
df.to_csv('student_scores.csv')